{% extends './base.html' %} {% block content %}

<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-10 ">
        <a href="{% url 'create_leave' %}" class="btn btn-lg btn-success text-gray-800 mr-3 mb-2">Create New Leave</a></h1>
    </div>
</div>
<div class="row justify-content-center ">
    <div class="col-10 ">
        <div class="card shadow mb-4 mt-3"></div>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Leaves</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Employee name</th>
                            <th>Leave Start Date</th>
                            <th>Leave End Date</th>
                            <th>Leave Resume Date</th>
                            <th>Leave Type</th>
                            <th>Status</th>
                            <!-- <th></th> -->
                            
                        </tr>
                    </thead>
                    <tfoot>
                       
                    </tfoot>
                    <tbody>
                        {% for i in all_leaves %}
                        <tr>
                            <td>{{ i.employee }}</td>
                            <td>{{ i.leave_start }}</td>
                            <td>{{ i.leave_end }}</td>
                            <td>{{ i.resume_date }}</td>
                            <td>{{ i.leave_type }}</td>
                            <td>{{ i.Status}}</td>
                            
                               
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}