{% extends './base.html' %} {% block content %}

<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-10 ">
      
    </div>
</div>
<div class="row justify-content-center ">
    <div class="col-10 ">
        <div class="card shadow mb-4 mt-3"></div>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Leave Requests</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Employee name</th>
                            <th>Leave Start Date</th>
                            <th>Leave End Date</th>
                            <th>Leave Resume Date</th>
                            <th>Leave Type</th>
                            <th>Status</th>
                             <th>Action</th> 
                            
                        </tr>
                    </thead>
                    <tfoot>
                       
                    </tfoot>
                    <tbody>
                        {% for i in all_leaves %}
                            {% for j in emp %}
                            {% if i.employee == j.employee %}
                        <tr>
                            
                            <td>{{ i.employee }}</td>
                            <td>{{ i.leave_start }}</td>
                            <td>{{ i.leave_end }}</td>
                            <td>{{ i.resume_date }}</td>
                            <td>{{ i.leave_type }}</td>
                            <td>{{ i.Status}}</td>
                            <td>                           
                                <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'show' pk=i.id %}">Show</a>                               
                                </div>
                            </td>
                            
                        </tr>
                        {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}